@import "reset.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto: 300,400,700');

body{ 
    font: 400 100%/1.6 'Roboto Slab', Times, serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}


figure img{width: 100%;}
/*----------------------NAV-----------------------------*/

/*NAV*/
.nav{
    position: absolute;
    top: 1em;
    left: 0;
    background: rgba(255,255,255,.9);
    z-index: 100;
    height: 100px;
    width: 100%;
    padding: 0 1em;
}
.nav h2 a{
    color: black;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 1.8em;
    font-weight: 700;
}
.nav h2 a::before{
    font-family: FontAwesome;
    content: '\f19C';
    color: darkorange;
    padding-right: 10px;
}

/*BURGER - MOBILE*/

a[href="#menu"]::before{
    
    display: block; 
    position: absolute;
    z-index: 1001;
    right: 10px;
    top: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    font-family: FontAwesome;
    font-size: 1.5rem;
    padding: 10px;
    transition: all .25s ease-in-out;
}

a[href="#menu"]:hover::before{
    background-color: grey;
    color: white;
}

a.nonactief::before{content:"\f0c9";}

a.actief::before{
    color: white;
    content:"\f00d";
}

nav#mainnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    overflow-y: hidden;
}

nav#mainnav ul.slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0,0,0,.75);
    padding: 3.75em 0;
    opacity: 0;
    transition: opacity .5s ease;
}

nav#mainnav ul.opennav{opacity: 1;}

nav#mainnav a{
    display: block;
    padding: 1em; 
    width: 100vw;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
}

nav#mainnav a:hover{text-decoration: underline;}

/*NAV Desktop*/

@media screen and (min-width:960px){
    
    #mainheader h2{
        position: absolute;
        top: 0;
        left: 50px;
        z-index: 2000;
        width: 20%;
    }
    nav#mainnav{
        width: 90%;
        position: absolute;
        top: -3em;
        right: 0;  
    }

    nav#mainnav ul.slide{
        display: flex;
        justify-content: flex-end;
        opacity: 1;
        
    }

    nav#mainnav a{
        display: inline-block;
        width: 150px;
        font-size: 1rem;
        text-align: center;
        color: #666;
        background: none;
        text-decoration: none;
        transition: all .5s ease;
        height: 100px;
        line-height: 70px;
        
    }
    
    nav#mainnav a:hover{
       background: #666;
        color: lightgray;
        text-decoration: none;
    }
    nav#mainnav a.active{
        background: #666;
        color: lightgray;
        cursor: default;
    }


    nav#mainnav ul.slide{
        width: 100%;
        height: 0;
        top: 3em;
        padding: 0;
    }
    
    a[href="#menu"]::before{top: -200px;}
}


/*----------------------HEADER-----------------------------*/

header#mainheader{
    
    height: 100vh;
    position: relative;
}

header#mainheader .container{
    position: relative;
    height: 100vh;
}

header#mainheader .panel{
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    
    background: darkorange;
    padding: 1em;
    max-width: 400px;
}

header#mainheader .panel p {
    font: 100 1.5em/1.6 "Roboto Slab", Times, Serif;
    color: white;
}

header#mainheader .panel button{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: white;
    transition: all .5s ease;
    font: 100%/1.6 "Roboto Slab", Times, serif;
}

header#mainheader .panel button:hover{
    background: white;
    color: darkorange;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:1000px){
    
    
    header#mainheader .panel{
        left: 0;
        z-index: 2000;
    }
}

/*----------------------MAIN-----------------------------*/

main figure{
    position: relative;
    overflow-y: hidden;
}

main figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 1.8em/1.6 "Roboto Slab", Times, serif;
    color: white;
    text-shadow: 0px 3px 3px rgba(0,0,0, .9);
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity .5s ease;
}
figure:hover figcaption{opacity: 1;}

@media screen and (min-width: 700px){
    main{display: flex;}
    
}

/*----------------------FOOTER-----------------------------*/

footer#mainfooter{
    background: #323232;
    padding: 4em 0;
    color: white;
}

footer#mainfooter h2{
    font: 400 1.2em/1.6 "Roboto Slab", Times, serif;
    margin-bottom: 1em;
}

footer#mainfooter p{
    margin-bottom: 3em;
    color: #AAA;
}

footer#mainfooter section{ padding: 0 2em;}

footer#mainfooter section:first-of-type{ padding-bottom: 4em;}

footer#mainfooter section:last-of-type{
    border-top: 1px solid #AAA;
    padding: 2em;
    color: #666;
}
footer#mainfooter section:last-of-type ul{text-align: center;}

footer#mainfooter section:last-of-type ul li{
    display: inline-block;
    padding: 0 .5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

footer#mainfooter section:last-of-type ul a{
    color: #AAA;
    transition: all .5s ease;
}

footer#mainfooter section:last-of-type ul a:hover{color: darkorange;}

footer#mainfooter section:last-of-type a{color: #666;}

footer#mainfooter section:last-of-type p {text-align: center;}

@media screen and (min-width:640px){
    footer#mainfooter section:first-of-type{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer#mainfooter section:first-of-type article {width: 48%;}
}

@media screen and (min-width:1000px){
    footer#mainfooter section:first-of-type{flex-wrap: nowrap;}
    
    footer#mainfooter section:first-of-type article{width: 18%;}
    
    footer#mainfooter section:first-of-type article:last-of-type{width: 35%;}
}
/*----------------------FORM-----------------------------*/

footer#mainfooter form label{
    display: block;
    height: 1px;
    width: 1px;
    text-indent: -9999px;
}

footer#mainfooter form input[type=text], footer#mainfooter form input[type=email], footer#mainfooter form textarea{
    padding: 1em;
    background: #222;
    border: 0;
    width: 100%;
    font: 100%/1.6 "Roboto Slab", Times, serif;
    
}

footer#mainfooter form input[type=text]:focus, footer#mainfooter form input[type=email]:focus, footer#mainfooter form textarea:focus{background: white;}

footer#mainfooter form textarea{min-height: 200px;}


footer#mainfooter form input[type=submit]{
    background: darkorange;
    border: 0;
    border-radius: 6px;
    padding: 1em 2em;
    color: white;
    font-size: 1em;
    font: 100%/1.6 "Roboto Slab", Times, serif;
    transition: all .5s ease;
}

footer#mainfooter form input[type=submit]:hover{
    background: white;
    color: darkorange;
    cursor: pointer;
}

footer#mainfooter form ul li{margin-bottom: 1em;}


